public/* linguist-vendored
Proffy-study-platform/public/* linguist-vendored
Proffy-study-platform/public/styles* linguist-vendored
Proffy-study-platform/public/styles/partials* linguist-vendored
Proffy-study-platform/src/views/* linguist-vendored

